body{
    background-color: black;
    text-align: center
}

#main-header {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

#copyright {
    text-align: right;
    color: gray;
}

h1 {
    font-family: verdana;
    font-weight: 300px;
    font-size: 42px;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-family: verdana;
    font-size: 21px;
    color:gray;
}